.reserve-container {
    border: 1px solid #ccc;
    padding: 10px;
    align-items: flex-start;
    justify-content: space-between;
    width: -moz-fit-content;
    width: fit-content;
    display: grid;
    justify-items: flex-end;
    margin-left: 875px;
    margin-bottom: 20px;
}

.reserve-info {
    flex: 1 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.reserve-button {
    background-color: #ff4f4f;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.reserve-info p {
    margin-left: 75px;
    margin-top: 30px;
}

.menuButton li {
    color: black;
}
