.stars {
  color: #DFDF27;
  font-size: 40px;
}

.reviews {
  padding: 0px 100px;
}

#star-review-btn{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#review {
  max-width: 800px;
}

#empty-review-container {
  display: flex;
  gap: 50px;
}

#full-reviews-container {
  display: flex;
  flex-direction: column;
}

#create-review-form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 20px;
}
