.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

#logo {
  height: 50px;
  margin-right: 10px;
}

.profile-menu-wrapper {
  position: relative;
  display: inline-block;
}

.profile-dropdown {
  position: absolute;
  top: 20%;
  left: -160px;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.menu-icon {
  box-shadow: 0 0 0 1px #fff, 0 0 0 1.25px #000;
  border-radius: 3px;
  cursor: pointer;
}

.menu-icon:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.menu-icon-show {
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
}
