.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

ul {
    list-style: none;
}

.menuButton {
    list-style: none;
}

.Navlink {
    text-decoration: none;
}
