.img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.current-img {
  max-width: 100%;
  max-height: 600px;
  min-width: 500px;
  min-height: 500px;
  border-radius: 20px;
}

.buttons {
  background-color: rgba(255, 255, 255, .5);
  border-radius: 5px;
}

#pagination-buttons {
  display: flex;
  left: 50%;
  position: sticky;
  margin-top: -40px;
  transform: translateX(-50%);
  gap: 10px;
}

#description {
  max-width: 500px;
  white-space: normal;
}

#spot-info {
  display: flex;
  max-width: 800px;
  margin-top: 10px;
  gap: 30px;
}

#spot-owner-info, #description {
  flex: 1;
  text-align: left;
}

#price {
  flex: 1;
  text-align: right;
  text-wrap: nowrap;
}

#price-review-reserve {
  display: flex;
  flex-direction: column;
}

#price-review {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 230px;
  gap: 20px;
}

#reserve-btn {
  display: flex;
  flex-direction: row-reverse;
}

#google-maps-container {
  width: 50%;
  height: 400px;
  position: relative;
}

#google-maps-container > div {
  width: 100%;
  height: 100%;
}

#review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#reviews-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#reviewline-break {
margin-bottom: 20px;
}
