img {
    max-width: 400px;
    max-height: 400px;
}

button {
    margin: 0 5px;
}

button a {
    text-decoration: none;
    color: black;
}

.star {
    color: rgb(233, 233, 0);
}

.spots-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.spots-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.spot {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.spot img {
    align-self: center;
}

.spot-content {
    width: 100%;
}

.spot-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    text-align: center;
    height: 50px;
}

.spot-info > p {
    margin-top: 15px;
}

.spot-info > h2 {
    margin-top: 14px;
}

.price {
    align-self: flex-end;
    margin: 5px 0px;
    padding-left: 2px;
}

.createSpot {
    max-height: 825px;
}

.pagination {
    display: flex;
    justify-content: center;
}
