.lineBreak {
    width: auto;
    height: 2px;
    background-color: black;
}

.lineBreakForm {
    width: auto;
    height: 2px;
    background-color: black;
}

.Links a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    margin: 20px;
}

ul {
    list-style: none;
    padding-left: 0px;
}

li {
    list-style: none;
}

.Navlink {
    text-decoration: none;
    cursor: pointer;
}

.fa, .fas {
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
}

.fas {
    font-size: 1.5em;
    position: relative;
    width: 100%;
    height: 100%;
}

.profile-dropdown {
    display: none;
    position: absolute;
    right: 0;
    z-index: 100;
    background-color: white;
    box-shadow: 4px 8px 16px 8px rgba(0,0,0,0.2);
    padding: 12px 24px;
}

.profile-dropdown li {
    padding: 5px;
    list-style-type: none;
    cursor: pointer;
}

.profile-dropdown li:last-child {
    border-bottom: none;
}

.profile-dropdown.show {
    display: block;
}

button {
    pointer-events: auto;
    cursor: pointer;
}
