/* TODO Add site wide styles */
/* html {
    background-color: black;
    color: white;
} */
html {
    background-color: black;
    color: white;
}

button {
    color: black;
    background-color: white;
}

label {
    color: black;
}
