#formBakcground {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

#confirm {
    text-align: center;
}

#confirmDeleteButtonYes button {
    background-color: red;
    border-radius: 5px;
}

#confirmDeleteButtonNo button {
    background-color: darkgrey;
    border-radius: 5px;
}
