.btn {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#confirm-btn {
    background-color: red;
    border-radius: 5px;
}

#deny-btn {
    background-color: darkgrey;
    border-radius: 5px;
}
